0_main.pdf
*.aux
*.lof
*.DS_Store
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.idx
*.acn
*.acr
*.glo
*.glg
*.gls
*.ist
.~*
